@import './base.css';

#app {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    font-weight: normal;
    height: 100vh;
  }
  @font-face {
    font-family: 'FangSong';
    src: url('~@/assets/fonts/MyCustomFont.ttf') format('truetype');
}
  body {
    background-color: #F7F7F7;  /* #F7F4F2  #F7F7F7  #E8E8E8 */
    font-family: 'FangSong', sans-serif; 
}
