@import './base.css';

#app {
    width: 100vw;
    margin: 0;
    /* padding: 1rem; */
    font-weight: normal;
    height: 100vh;
    /* background-image: url("./background.png"); */
  }

  @font-face {
    font-family: 'FangSong';
    src: url('~@/assets/fonts/MyCustomFont.ttf') format('truetype');
  }
  
  body {
    /* background-image: url('./images/background2.png'); */
    background-size: cover;  /* 覆盖整个容器 */
    background-repeat: no-repeat;  /* 不重复 */
    font-family: 'FangSong', sans-serif; 
    background-color: #F7F7F7;
    /* background-color: #000; */
  }
